server:
  port: 8083

spring:
  application:
    name: ms-professores
  config:
    import: "optional:configserver:"
  datasource:
    url: jdbc:postgresql://localhost:5432/db_ms_professores
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true